<body class="">
  <link
    href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap"
    rel="stylesheet"
  />
  <footer class="footer">
    <div class="footer__container">
      <span class="footer__rights">© 2023 | All Rights Reserved |&nbsp;</span>
      <div class="footer__mobile-container">
        <span class="footer__dev"> Developed with&nbsp;</span>
        <button
          type="button"
          class="footer__btn--open"
          data-action="open-modal"
        >
          <div class="footer__heart heart">❤️</div>
          <span class="footer__students">&nbsp;by GoIT Students</span>
        </button>
        <div class="footer__backdrop js-backdrop">
          <div class="footer__modal">
            <div class="footer__cards">
              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/dmytro-kozlovskyi-3-1.webp"
                    class="footer__cover-image footer__cover-image-dmytrok"
                  />
                </div>
                <a
                  class="footer__social-link footer__social-link--github"
                  href="https://github.com/Dmytroukraine"
                  alt="github"
                  target="_blank"
                >
                  <svg class="footer__social-link-svg" width="30" height="30">
                    <use href="./img_team/symbol-defs-2.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="footer__title footer__title-dmytrok">
                  Dmytro Kozlovskyi
                  <br />Team Lead
                </p>
                <a
                  class="footer__social-link footer__social-link--linkedin"
                  href="https://www.linkedin.com/in/dmytro-junior-39526925b"
                  alt="linkedin"
                  target="_blank"
                >
                  <svg class="footer__social-link-svg" width="30" height="30">
                    <use
                      href="./img_team/symbol-defs-3.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
                <img
                  src="./img_team/dmytro-kozlovskyi-4.webp"
                  class="footer__character footer__charester-dmytrok"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/vitalina-shpir-1.webp"
                    class="footer__cover-image footer__cover-image-vitalina"
                  />
                </div>
                <a
                class="footer__social-link footer__social-link--github"
                href="https://github.com/VitalinaShpir"
                alt="github"
                target="_blank"
              >
                <svg class="footer__social-link-svg" width="30" height="30">
                  <use href="./img_team/symbol-defs-2.svg#icon-github"></use>
                </svg>
              </a>
                <p class="footer__title footer__title-vitalina">
                  Vitalina Shpir
                  <br />Scrum master
                </p>
                <a
                class="footer__social-link footer__social-link--linkedin"
                href="https://www.linkedin.com/in/vitalina-shpir-4228b8a3/"
                alt="linkedin"
                target="_blank"
              >
                <svg class="footer__social-link-svg" width="30" height="30">
                  <use
                    href="./img_team/symbol-defs-3.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
                <img
                  src="./img_team/vitalina-shpir-2.webp"
                  class="footer__character footer__charester-vitalina"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/dmytro-kyianov-1.webp"
                    class="footer__cover-image footer__cover-image-dmytro"
                  />
                </div>
                <a
                class="footer__social-link footer__social-link--github"
                href="https://github.com/Dmytro-Kyianov"
                alt="github"
                target="_blank"
              >
                  <svg class="footer__social-link-svg" width="30" height="30">
                    <use href="./img_team/symbol-defs-2.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="footer__title footer__title-dmytro">
                  Dmytro Kyianov
                  <br />Developer
                </p>
                <a
                  class="footer__social-link footer__social-link--linkedin"
                  href="#"
                  alt="linkedin"
                  target="_blank"
                >
                  <svg class="footer__social-link-svg" width="30" height="30">
                    <use
                      href="./img_team/symbol-defs-3.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
                <img
                  src="./img_team/dmytro-kyianov-2.webp"
                  class="footer__character footer__charester-dmytro"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/tetiana-khyzhniak-1.webp"
                    class="footer__cover-image footer__cover-image-tetiana"
                  />
                </div>
                <a
                  class="footer__social-link footer__social-link--github"
                  href="https://github.com/tetianakhyzhniak"
                  alt="github"
                  target="_blank"
                >
                  <svg class="footer__social-link-svg" width="30" height="30">
                    <use href="./img_team/symbol-defs-2.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="footer__title footer__title-tetiana">
                  Tetiana Khyzhniak
                  <br />Developer
                </p>
                <a
                  class="footer__social-link footer__social-link--linkedin"
                  href="#"
                  alt="linkedin"
                  target="_blank"
                >
                  <svg class="footer__social-link-svg" width="30" height="30">
                    <use
                      href="./img_team/symbol-defs-3.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
                <img
                  src="./img_team/tetiana-khyzhniak-2.webp"
                  class="footer__character footer__charester-tetiana"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/pavlo-bitelov-1.webp"
                    class="footer__cover-image footer__cover-image-pavlo"
                  />
                </div>
                <a
                  class="footer__social-link footer__social-link--github"
                  href="https://github.com/Pashab52"
                  alt="github"
                  target="_blank"
                >
                  <svg class="footer__social-link-svg" width="30" height="30">
                    <use href="./img_team/symbol-defs-2.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="footer__title footer__title-pavlo">
                  Pavlo Bitelov
                  <br />Developer
                </p>
                <a
                  class="footer__social-link footer__social-link--linkedin"
                  href="#"
                  alt="linkedin"
                  target="_blank"
                >
                  <svg class="footer__social-link-svg" width="30" height="30">
                    <use
                      href="./img_team/symbol-defs-3.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
                <img
                  src="./img_team/pavlo-bitelov-2.webp"
                  class="footer__character footer__charester-pavlo"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/nahailo-khrystyna-1.webp"
                    class="footer__cover-image footer__cover-image-khrystyna"
                  />
                </div>
                <a
                  class="footer__social-link footer__social-link--github"
                  href="https://github.com/ng-christina"
                  alt="github"
                  target="_blank"
                >
                  <svg class="footer__social-link-svg" width="30" height="30">
                    <use href="./img_team/symbol-defs-2.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="footer__title footer__title-khrystyna">
                  Khrystyna Nahailo
                  <br />Developer
                </p>
                <a
                class="footer__social-link footer__social-link--linkedin"
                href="https://www.linkedin.com/in/khrystyna-nahailo-662727280/"
                alt="linkedin"
                target="_blank"
              >
                <svg class="footer__social-link-svg" width="30" height="30">
                  <use
                    href="./img_team/symbol-defs-3.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
                <img
                  src="./img_team/nahailo-khrystyna-2.webp"
                  class="footer__character footer__charester-khrystyna"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/evgeniya-pashchenko-1.webp"
                    class="footer__cover-image footer__cover-image-evgeniya"
                  />
                </div>
                <a
                class="footer__social-link footer__social-link--github"
                href="https://github.com/Janne57"
                alt="github"
                target="_blank"
              >
                <svg class="footer__social-link-svg" width="30" height="30">
                  <use href="./img_team/symbol-defs-2.svg#icon-github"></use>
                </svg>
              </a>
                <p class="footer__title footer__title-evgeniya">
                  Evgeniya Pashchenko
                  <br />Developer
                </p>
                <a
                  class="footer__social-link footer__social-link--linkedin"
                  href="#"
                  alt="linkedin"
                  target="_blank"
                >
                  <svg class="footer__social-link-svg" width="30" height="30">
                    <use
                      href="./img_team/symbol-defs-3.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
                <img
                  src="./img_team/evgeniya-pashchenko-2.webp"
                  class="footer__character footer__charester-evgeniya"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/daniil-chernov-1.webp"
                    class="footer__cover-image footer__cover-image-daniil"
                  />
                </div>
                <a
                class="footer__social-link footer__social-link--github"
                href="https://github.com/ChernovDan42"
                alt="github"
                target="_blank"
              >
                <svg class="footer__social-link-svg" width="30" height="30">
                  <use href="./img_team/symbol-defs-2.svg#icon-github"></use>
                </svg>
              </a>
                <p class="footer__title footer__title-daniil">
                  Daniil Chernov
                  <br />Developer
                </p>
                <a
                class="footer__social-link footer__social-link--linkedin"
                href="#"
                alt="linkedin"
                target="_blank"
              >
                <svg class="footer__social-link-svg" width="30" height="30">
                  <use
                    href="./img_team/symbol-defs-3.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
                <img
                  src="./img_team/daniil-chernov-2.webp"
                  class="footer__character footer__charester-daniil"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/anya-dyshliuk-1.webp"
                    class="footer__cover-image footer__cover-image-anya"
                  />
                </div>
                <a
                  class="footer__social-link footer__social-link--github"
                  href="https://github.com/DyshliukAnna"
                  alt="github"
                  target="_blank"
                >
                  <svg class="footer__social-link-svg" width="30" height="30">
                    <use href="./img_team/symbol-defs-2.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="footer__title footer__title-anya">
                  Anya Dyshliuk
                  <br />Developer
                </p>
                <a
                  class="footer__social-link footer__social-link--linkedin"
                  href="https://www.linkedin.com/in/%D0%B0%D0%BD%D0%BD%D0%B0-%D0%B4%D1%8B%D1%88%D0%BB%D1%8E%D0%BA-36a512280/"
                  alt="linkedin"
                  target="_blank"
                >
                  <svg class="footer__social-link-svg" width="30" height="30">
                    <use
                      href="./img_team/symbol-defs-3.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
                <img
                  src="./img_team/anya-dyshliuk-2.webp"
                  class="footer__character footer__charester-anya"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/volodymyr-poliakov-1.webp"
                    class="footer__cover-image footer__cover-image-volodymyr"
                  />
                </div>
                <a
                  class="footer__social-link footer__social-link--github"
                  href="https://github.com/Volodymyr0300"
                  alt="github"
                  target="_blank"
                >
                  <svg class="footer__social-link-svg" width="30" height="30">
                    <use href="./img_team/symbol-defs-2.svg#icon-github"></use>
                  </svg>
                </a>
                <p class="footer__title footer__title-volodymyr">
                  Volodymyr Poliakov
                  <br />Developer
                </p>
                <a
                class="footer__social-link footer__social-link--linkedin"
                href="https://www.linkedin.com/in/volodymyr-poliakov-41582a259/"
                alt="linkedin"
                target="_blank"
              >
                <svg class="footer__social-link-svg" width="30" height="30">
                  <use
                    href="./img_team/symbol-defs-3.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
                <img
                  src="./img_team/volodymyr-poliakov-2.webp"
                  class="footer__character footer__charester-volodymyr"
                />
              </div>
            </div>
            <button
              type="button"
              class="footer__btn--close rotate-center"
              data-action="close-modal"
            >
              <svg class="footer__close-svg" width="20" height="20">
                <use href="./img_team/footer-cross.svg#footer-close"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
