<body class="">
  <link
    href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap"
    rel="stylesheet"
  />
  <footer class="footer">
    <div class="footer__container">
      <span class="footer__rights">© 2023 | All Rights Reserved |&nbsp;</span>
      <div class="footer__mobile-container">
        <span class="footer__dev"> Developed with&nbsp;</span>
        <button
          type="button"
          class="footer__btn--open"
          data-action="open-modal"
        >
          <div class="footer__heart heart">❤️</div>
          <span class="footer__students">&nbsp;by GoIT Students</span>
        </button>
        <div class="footer__backdrop js-backdrop">
          <div class="footer__modal">
            <div class="footer__cards">
              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/dmytro-kozlovskyi-3-1.JPG"
                    class="footer__cover-image footer__cover-image-dmytrok"
                  />
                </div>
                <p class="footer__title footer__title-dmytrok">
                  Dmytro Kozlovskyi
                  <br />Team Lead
                </p>
                <img
                  src="./img_team/dmytro-kozlovskyi-4.png"
                  class="footer__character footer__charester-dmytrok"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/vitalina-shpir-1.jpg"
                    class="footer__cover-image footer__cover-image-vitalina"
                  />
                </div>
                <p class="footer__title footer__title-vitalina">
                  Vitalina Shpir
                  <br />Scrum master
                </p>
                <img
                  src="./img_team/vitalina-shpir-2.png"
                  class="footer__character footer__charester-vitalina"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/dmytro-kyianov-1.jpg"
                    class="footer__cover-image footer__cover-image-dmytro"
                  />
                </div>
                <p class="footer__title footer__title-dmytro">
                  Dmytro Kyianov
                  <br />Developer
                </p>
                <img
                  src="./img_team/dmytro-kyianov-2.png"
                  class="footer__character footer__charester-dmytro"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/tetiana-khyzhniak-1.png"
                    class="footer__cover-image footer__cover-image-tetiana"
                  />
                </div>
                <p class="footer__title footer__title-tetiana">
                  Tetiana Khyzhniak
                  <br />Developer
                </p>
                <img
                  src="./img_team/tetiana-khyzhniak-2.png"
                  class="footer__character footer__charester-tetiana"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/pavlo-bitelov-1.jpg"
                    class="footer__cover-image footer__cover-image-pavlo"
                  />
                </div>
                <p class="footer__title footer__title-pavlo">
                  Pavlo Bitelov
                  <br />Developer
                </p>
                <img
                  src="./img_team/pavlo-bitelov-2.png"
                  class="footer__character footer__charester-pavlo"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/nahailo-khrystyna-1.jpg"
                    class="footer__cover-image footer__cover-image-khrystyna"
                  />
                </div>
                <p class="footer__title footer__title-khrystyna">
                  Khrystyna Nahailo
                  <br />Developer
                </p>
                <img
                  src="./img_team/nahailo-khrystyna-2.webp"
                  class="footer__character footer__charester-khrystyna"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/evgeniya-pashchenko-1.jpg"
                    class="footer__cover-image footer__cover-image-evgeniya"
                  />
                </div>
                <p class="footer__title footer__title-evgeniya">
                  Evgeniya Pashchenko
                  <br />Developer
                </p>
                <img
                  src="./img_team/evgeniya-pashchenko-2.png"
                  class="footer__character footer__charester-evgeniya"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/daniil-chernov-1.jpg"
                    class="footer__cover-image footer__cover-image-daniil"
                  />
                </div>
                <p class="footer__title footer__title-daniil">
                  Daniil Chernov
                  <br />Developer
                </p>
                <img
                  src="./img_team/daniil-chernov-2.png"
                  class="footer__character footer__charester-daniil"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/anya-dyshliuk-1.JPG"
                    class="footer__cover-image footer__cover-image-anya"
                  />
                </div>
                <p class="footer__title footer__title-anya">
                  Anya Dyshliuk
                  <br />Developer
                </p>
                <img
                  src="./img_team/anya-dyshliuk-2.PNG"
                  class="footer__character footer__charester-anya"
                />
              </div>

              <div class="footer__card">
                <div class="footer__wrapper">
                  <img
                    src="./img_team/volodymyr-poliakov-1.png"
                    class="footer__cover-image footer__cover-image-volodymyr"
                  />
                </div>
                <p class="footer__title footer__title-volodymyr">
                  Volodymyr Poliakov
                  <br />Developer
                </p>
                <img
                  src="./img_team/volodymyr-poliakov-2.png"
                  class="footer__character footer__charester-volodymyr"
                />
              </div>
            </div>
            <button
              type="button"
              class="footer__btn--close rotate-center"
              data-action="close-modal"
            >
              <svg class="footer__close-svg" width="20" height="20">
                <use href="./img_team/footer-cross.svg#footer-close"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
