<div class="header-page">
    <div class="container header-container">
      <div class="header-box">
        <div class="header-logo-nav">
          <div class="header-logo-container">
            <a class="header-logo" href="./index.html">
              <svg class="header-logo-icon1 logo" height="28" width="0">
                <use href="./images/sprite.svg#icon-logo-1"></use>
              </svg>
            </a>
            <a class="header-logo" href="./index.html">
              <svg class="header-logo-icon logo" height="28" width="0">
                <use href="./images/sprite.svg#icon-logo"></use>
              </svg>
            </a>
          </div>
          <nav class="header-nav">
            <ul class="header-nav-item">
              <li class="header-item">
                <a class="header-link-item header-link-item-home heder-active" href="./index.html"
                  >Home
                </a>
              </li>
              <li class="header-item">
                <a class="header-link-item header-link-item-shopping" href="./shopping-list.html"
                > Shopping list
                  <svg class="header-item-icon" height="20" width="20">
                    <use href="./images/sprite.svg#icon-uil_cart"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
        </div>
  
        <div class="header-mobile">
          <div class="div-theme">
            <input
              class="theme-toggle-js"
              type="checkbox"
              name="theme-switcher"
              id="input-theme"
              hidden
            />
            <label for="input-theme" class="label-them">
              <span class="span-theme"></span>
            </label>
  
            <button class="header-mobile-burger burger-btn js-open-menu">
              <svg class="header-burger-icon" width="28" height="28">
                <use href="./images/sprite.svg#icon-align-left-2"></use>
              </svg>
            </button>
          </div>
  
          <button class="header-user js-modal-autoriz-open">
            Sign Up
            <svg class="header-icon arrow-to-right-sign" width="20" height="20">
              <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
  
      <div class="header-mobile-box">
        <div class="header-modal js-modal">
          <button class="menu-toggle menu-toggle-close js-close-menu">
            <svg class="header-mobile-menu-icon" width="28" height="28">
              <use href="./images/icon.svg#icon-x-close"></use>
            </svg>
          </button>
          <button class="header-user-modal js-modal-autoriz-open">
            Sign Up
            <svg class="header-icon arrow-to-right-sign" width="20" height="20">
              <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
            </svg>
          </button>
  
          <ul class="header-nav-item-modal">
            <li class="header-item-modal">
              <a  class="header-link-modal header-link-modal-home heder-active" href="./index.html"
                >Home
              </a>
            </li>
            <li class="header-item-modal">
              <a class="header-link-modal header-link-modal-shopping" href="./shopping-list.html"
                >Shopping list
                <svg
                  class="header-item-icon header-item-icon-modal"
                  height="20"
                  width="20"
                >
                  <use href="./images/sprite.svg#icon-uil_cart"></use>
                </svg>
              </a>
            </li>
          </ul>
  
          <button class="header-user-modal header-user-modal-out">
            Log Out
            <svg class="header-icon arrow-to-right-out" width="20" height="20">
              <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
            </svg>
          </button>
          <div class="header-modal-image"></div>
        </div>
      </div>
  
      <div class="heder-backdrop is-hidden">
        <div class="heder-modal-autoriz js-modal-autoriz is-hidden">
          <button class="modal-autoriz-close js-modal-autoriz-close">
            <svg class="modal-autoriz-icon" width="28" height="28">
              <use href="./images/icon.svg#icon-x-close"></use>
            </svg>
          </button>
          <form class="modal-autoriz-form">
            <div class="header-modal-form-field">
              <input
                class="header-form-input"
                type="text"
                name="name"
                placeholder="NAME"
                autofocus
                autocomplete="on"
              />
            </div>
            <div class="header-form-field">
              <input
                class="header-form-input header-form-input-email"
                type="text"
                name="EMAIL"
                placeholder="EMAIL"
                autocomplete="on"
              />
              <svg
                class="autoriz-icon autoriz-icon-email"
                width="28px"
                height="28"
              >
                <use href="./images/sprite.svg#icon-mail-02"></use>
              </svg>
            </div>
            <div class="header-form-field">
              <input
                class="header-form-input header-form-input-password"
                type="text"
                name="PASSWORD"
                placeholder="PASSWORD"
                autocomplete="on"
              />
              <svg
                class="autoriz-icon autoriz-icon-password"
                width="28"
                height="28"
              >
                <use href="./images/sprite.svg#icon-lock-02"></use>
              </svg>
            </div>
            <button class="header-form-btn">Sign up</button>
            <div class="header-form-link-box">
              <a class="header-form-link header-form-up" href="">SIGN UP</a>
              <a class="header-form-link header-form-in" href="">SIGN IN</a>
            </div>
          </form>
  
          <button class="btn-autoriz-user">
            <svg class="autoriz-user-icon" width="37" height="37">
              <use href="./images/sprite.svg#icon-user-1"></use>
            </svg>
            Stephen
            <svg class="autoriz-user-icon" width="23" height="26">
              <use href="./images/sprite.svg#icon-fi-ss-caret-down-2"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>