<div class="header-page">
  <div class="container header-container">
    <div class="header-box">
      <div class="header-logo-nav">
        <div class="header-logo-container">
          <a class="header-logo" href="./index.html">
            <svg class="header-logo-icon1 logo" height="28" width="0">
              <use href="./images/sprite.svg#icon-logo-1"></use>
            </svg>
          </a>
          <a class="header-logo" href="./index.html">
            <svg class="header-logo-icon logo" height="28" width="0">
              <use href="./images/sprite.svg#icon-logo"></use>
            </svg>
          </a>
        </div>
        <nav class="header-nav">
          <ul class="header-nav-item is-hidden">
            <li class="header-item">
              <a class="header-link-item header-link-item-home heder-active header-link-trans" href="./index.html"
                >Home
              </a>
            </li>
            <li class="header-item">
              <a class="header-link-item header-link-item-shopping header-link-trans" href="./shopping-list.html"
              > Shopping list
                <svg class="header-item-icon" height="20" width="20">
                  <use href="./images/sprite.svg#icon-uil_cart"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="header-mobile">
        <div class="div-theme">
          <!-- <input
            class="theme-toggle-js"
            type="checkbox"
            name="theme-switcher"
            id="input-theme"
            hidden
          />
          <label for="input-theme" class="label-them">
            <span class="span-theme"></span>
          </label> -->
          <label class="switch">
            <span class="sun"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="#ffd43b"><circle r="5" cy="12" cx="12"></circle><path d="m21 13h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zm-17 0h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zm13.66-5.66a1 1 0 0 1 -.66-.29 1 1 0 0 1 0-1.41l.71-.71a1 1 0 1 1 1.41 1.41l-.71.71a1 1 0 0 1 -.75.29zm-12.02 12.02a1 1 0 0 1 -.71-.29 1 1 0 0 1 0-1.41l.71-.66a1 1 0 0 1 1.41 1.41l-.71.71a1 1 0 0 1 -.7.24zm6.36-14.36a1 1 0 0 1 -1-1v-1a1 1 0 0 1 2 0v1a1 1 0 0 1 -1 1zm0 17a1 1 0 0 1 -1-1v-1a1 1 0 0 1 2 0v1a1 1 0 0 1 -1 1zm-5.66-14.66a1 1 0 0 1 -.7-.29l-.71-.71a1 1 0 0 1 1.41-1.41l.71.71a1 1 0 0 1 0 1.41 1 1 0 0 1 -.71.29zm12.02 12.02a1 1 0 0 1 -.7-.29l-.66-.71a1 1 0 0 1 1.36-1.36l.71.71a1 1 0 0 1 0 1.41 1 1 0 0 1 -.71.24z"></path></g></svg></span>
            <span class="moon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="m223.5 32c-123.5 0-223.5 100.3-223.5 224s100 224 223.5 224c60.6 0 115.5-24.2 155.8-63.4 5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6-96.9 0-175.5-78.8-175.5-176 0-65.8 36-123.1 89.3-153.3 6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"></path></svg></span>   
            <input type="checkbox" class="theme-toggle-js">
            <span class="span-theme"></span>
          </label>

          <button class="header-mobile-burger burger-btn js-open-menu">
            <svg class="header-burger-icon" width="28" height="28">
              <use href="./images/sprite.svg#icon-align-left-2"></use>
            </svg>
          </button>
        </div>

        <button class="header-user js-modal-autoriz-open z-ind">
          Sign Up
          <svg class="header-icon arrow-to-right-sign" width="20" height="20">
            <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
         <button class="header-user js-signed-home-btn is-none z-ind">
        
        
        </button>
        <button class="header-user js-modal-autoriz-open js-logout hidden-log">
          Log Out
          <svg class="header-icon arrow-to-right-sign" width="20" height="20">
            <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
        
      </div>
    </div>

    <div class="header-mobile-box">
      <div class="header-modal js-modal">
        <button class="menu-toggle menu-toggle-close js-close-menu">
          <svg class="header-mobile-menu-icon" width="28" height="28">
            <use href="./images/icon.svg#icon-x-close"></use>
          </svg>
        </button>
        <div class="mob-user-name"></div>
        <button class="header-user-modal js-modal-autoriz-open">
          Sign Up
          <svg class="header-icon arrow-to-right-sign" width="20" height="20">
            <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
       


        <ul class="header-nav-item-modal">
          <li class="header-item-modal">
            <a  class="header-link-modal header-link-modal-home heder-active header-link-trans" href="./index.html"
              >Home
            </a>
          </li>
          <li class="header-item-modal">
            <a class="header-link-modal header-link-modal-shopping header-link-trans" href="./shopping-list.html"
              >Shopping list
              <svg
                class="header-item-icon header-item-icon-modal"
                height="20"
                width="20"
              >
                <use href="./images/sprite.svg#icon-uil_cart"></use>
              </svg>
            </a>
          </li>
        </ul>

        <button class="header-user-modal header-user-modal-out">
          Log Out
          <svg class="header-icon arrow-to-right-out" width="20" height="20">
            <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
        <div class="header-modal-image"></div>
      </div>
    </div>
  
<div class="backdrop-auth is-hidden">
    <div class="modal-auth">

         <button class="modal-auth-close-btn" type="button">
        <svg class="close-auth-icon" width="28" height="28">
          <use href="/images/icon.svg#icon-x-close"></use>
        </svg>
    </button>

<form class="sign-up form">
    
    <div class="input-grope" role="group">
        <input class="input-login" type="text" name="userName" required>
         <label class="label" >name</label>
    </div>

    <div class="input-grope email-sign-up" role="group">
        <input class="input-login" type="email" name="userEmail" required>
        <label class="label" >email</label>
        
    </div>

    <div class="input-grope pass-sign-up" role="group">
        <input class="input-login" type="password" name="userPassword" required>
         <label class="label" >password</label>
          
    </div>

    <button class="submit-btn" type="submit">sign up</button>
</form>
 

<form class="sign-in is-hidden form">
    <div class="input-grope email-sign-in" role="group">  
        <input class="input-login" type="email" name="userEmail" placeholder=" " required>
         <label class="label">email</label>
         
    </div>

    <div class="input-grope pass-sign-in" role="group">
        <input class="input-login" type="password" name="userPassword" required>
        <label class="label label-password" >password</label>
        
    </div>

     <button class="submit-btn" type="submit">sign in</button>
</form>

<div class="form-menu">
        <a class="btn-form-link sing-up-link" href="">sign up</a>
        <a class="btn-form-link sing-in-link" href="">sign in</a>
    </div>
</div>
</div>  