<div class="header-logo-nav">
    <div class="header-logo-container">
      <a class="header-logo" href="./index.html">
        <svg class="header-logo-icon1 logo" height="28" width="0">
          <use href="./images/sprite.svg#icon-logo-1"></use>
        </svg>
      </a>
      <a class="header-logo" href="./index.html">
        <svg class="header-logo-icon logo" height="28" width="0">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <nav class="header-nav">
      <ul class="header-nav-item">
        <li class="header-item">
          <a class="header-link-item header-link-item-home heder-active" href="./index.html"
            >Home
          </a>
        </li>
        <li class="header-item">
          <a class="header-link-item header-link-item-shopping" href="./shopping-list.html"
          > Shopping list
            <svg class="header-item-icon" height="20" width="20">
              <use href="./images/sprite.svg#icon-uil_cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>