
<div class="backdrop" data-modal>
    <div class="modal-fav">

      <button class="modal-fav-close-btn" data-modal-close type="button">
        <svg class="close-modal-icon" width="12" height="12">
          <use href="/images/icon.svg#icon-x-close"></use>
        </svg>
    </button>

        <div class="modal-fav-book">
            <img class="modal-fav-image" src="../images/book2.png" alt="book-cover" />
            <div class="book-descr-wrapper">
            <h1 class="modal-fav-title">No title</h1>
            <h2 class="modal-fav-author">No author name</h2>
            <p class="modal-fav-descr">No description</p>
            </div>

        </div>
        
        <button class="fav-add-book-btn" type="button">add to shopping list</button>
        <p class="add-book-notification">Сongratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.</p>

    </div>
</div>
