<!-- 
<div class="backdrop" data-modal>
    <div class="modal-fav is-hidden">

        <button class="modal-fav-close-btn" data-modal-close type="button">
            <svg class="close-modal-icon" width="12" height="12">
              <use href="/images/icon.svg#icon-x-close"></use>
            </svg>
        </button>

        <div class="modal-fav-book">
            <img class="modal-fav-image" src="../images/book2.png" alt="book-cover" />
            <div class="book-descr-wrapper">
            <h1 class="modal-fav-title">No title</h1>
            <h2 class="modal-fav-author">No author name</h2>
            <p class="modal-fav-descr">No description</p>
            </div>

        </div>
        
        <button class="fav-add-book-btn" type="button">add to shopping list</button>
        <p class="add-book-notification">Сongratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.</p>

    </div>
</div>



    -->


    <div class="backdrop is-hidden" data-modal>
        <div class="modal-fav">
          <button type="button" class="close-modal-btn-fav" data-modal-close>
            <svg class="modal-close-btn-icon" width="24" height="24">
              <use href="/images/icon.svg#icon-x-close"></use>
            </svg>
          </button>
          <div class="container-modal-fav">
            <div class="img-plus-description">
              <img
                class="img-book"
                src="/images/Rectangle2x@320.jpg"
                alt="title book"
              />
              <div class="description-info">
                <h2 class="title-name">HELLO BEAUTIFUL</h2>
                <h3 class="title-author">Ann Napolitano</h3>
                <p class="description-book">
                  In a homage to Louisa May Alcott’s “Little Women,” a young man’s
                  dark past resurfaces as he gets to the know the family of his
                  college sweetheart.
                </p>
                <ul class="shop-book">
                  <li class="name-shop-book brightness">
                    <img
                      src="/images/amazon.png"
                      alt="logo Amazon"
                      width="62"
                      height="19"
                    />
                  </li>
                  <li class="name-shop-book">
                    <img
                      src="/images/apple-books.png"
                      alt="logo Yellow shop"
                      width="33"
                      height="32"
                    />
                  </li>
                  <li class="name-shop-book">
                    <img
                      src="/images/book-shop.png"
                      alt="logo Dark shop"
                      width="38"
                      height="36"
                    />
                  </li>
                </ul>
              </div>
            </div>
            <button type="submit" class="choice-btn">ADD TO SHOPPING LIST</button>
          </div>
        </div>
      </div>
      