<div class="backdrop-auth is-hidden" data-modal>
    <div class="modal-auth">

         <button class="modal-auth-close-btn" data-modal-close type="button">
        <svg class="close-auth-icon" width="28" height="28">
          <use href="/images/icon.svg#icon-x-close"></use>
        </svg>
    </button>

<form class="sign-up form">
    
    <div class="input-grope" role="group">
        <input class="input-login" type="text" name="userName" required>
         <label class="label" for="name">name</label>
    </div>

    <div class="input-grope" role="group">
        <input class="input-login" type="email" name="userEmail" >
        <label class="label" for="email">email</label>
        <svg class="sign-icon" >
          <use href="../images/icon.svg#icon-letter"></use>
        </svg>
    </div>

    <div class="input-grope" role="group">
        <input class="input-login" type="password" name="userPassword">
         <label class="label" for="password">password</label>
          <svg class="sign-icon " >
          <use href="../images/icon.svg#icon-lock"></use>
        </svg>
    </div>

    <button class="submit-btn" type="submit">sign up</button>
</form>
 

<form class="sign-in is-hidden form">
    <div class="input-grope" role="group">  
        <input class="input-login" type="email" name="userEmail" placeholder=" ">
         <label class="label" for="email">email</label>
          <svg class="sign-icon " >
          <use href="../images/icon.svg#icon-letter"></use>
        </svg>
    </div>

    <div class="input-grope" role="group">
        <input class="input-login" type="password" name="userPassword">
        <label class="label label-password" for="password">password</label>
        <svg class="sign-icon" >
          <use href="../images/icon.svg#icon-lock"></use>
        </svg>
    </div>

     <button class="submit-btn" type="submit">sign in</button>
</form>

<div class="form-menu">
        <a class="btn-form-link sing-up-link" href="">sign up</a>
        <a class="btn-form-link sing-in-link" href="">sign in</a>
    </div>
</div>
</div>  