.book-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.category-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--accent-text-color-ligth);
  margin-bottom: 24px;
}

.list_name {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
}

@media screen and (min-width: 768px){
    .list_name{
        font-size: 16px;
    }

    .book-category{
        gap: 32px;
    }

    .category-title {
        font-size: 18px;
        margin-bottom: 32px;
    }
}


@media screen and (min-width: 1440px){
  
}