.donate-box {
  background: radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
  padding: 24px 40px 20px 40px;
  width: 335px;
height: 352px;
overflow-y: scroll;
}

.donate-title {
  display: flex;
  color: var(--header-color-ligth);
  margin-bottom: 40px;
}
.title-txt{
  margin-right: 12px;
}

.donate-funds-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donate-fund{
    display: flex;
    align-items: center;
}

.donate-index{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--header-color-ligth);
}
