.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-open {
    overflow: hidden;
}

.backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 300; 
    transform: rotate(0) scale(1);
    transition: opacity 300ms linear, visibility 300ms linear;

}

.modal-fav {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 38px 22px;
    max-width: 335px;
    background-color: #FFFFFF;
    border: 2px solid #111111;
    border-radius: 18px;
    transform: rotate(0) scale(1);
    transition: transform 400ms linear;

}

.is-hidden .modal-fav {
    transform: rotate(270deg) scale(0);
}


@media screen and (min-width: 768px) {
    .modal-fav {
        width: 579px;
        max-width: 579px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 38px;
    }
    .is-hidden .modal-fav {
        transform: translate(-50%, -65%) rotate(180deg) scale(0);
    }
}

@media screen and (min-width: 768px) {
    .modal-fav-book {
        display: flex;
        margin-bottom: 40px;
    }
}



@media screen and (min-width: 768px) {
    .book-descr-wrapper{
        display: block;
    }
}



.modal-fav-close-btn {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 6px;
    cursor: pointer;
    background-color: inherit;   

}

.modal-fav-close-btn:hover .close-modal-icon,
.modal-fav-close-btn:focus .close-modal-icon {
    stroke: var(--accent-color-ligth);
    transform: rotate(180deg);
   
}


@media screen and (min-width: 768px) {
    .modal-fav-close-btn {
        top: 24px;
        right: 24px;
        }
}


.close-modal-icon{
    stroke: #111111;
    width: 14px;
    height: 14px;
    transition: transform ease-in 400ms, stroke 500ms;

}

.fav-add-book-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.01em;
    text-transform: uppercase;
    font-family: var(--main-font);
    color: var(--primary-text-color-ligth);
    padding: 12px 22px;
    background-color: inherit;
    border: 2px solid #4F2EE8;
    border-radius: 40px;
    transition: background-color 400ms, color 400ms;
}

@media screen and (min-width: 768px) {
    .fav-add-book-btn {
        font-size: 18px;
        line-height: calc(24 / 18);
        width: 100%;
        padding: 18px auto;
      
    }
}

.fav-add-book-btn:focus{
    background-color: var(--accent-color-ligth);
    color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}
.fav-add-book-btn:hover{
    background-color: var(--accent-color-ligth);;
    color: #FFFFFF;
}

.modal-fav-btn {
    display: block;
    padding: 6px;
    margin-left: auto;
    cursor: pointer;
    background-color: inherit;
}



.add-book-notification{
    width: 242px;
    font-family: var(--main-font);
    font-size: 10px;
    line-height: calc( 12 / 10);
    text-align: center;
    letter-spacing: -0.04em;
    color: rgba(17, 17, 17, 0.5);
    margin-top: 8px;
}

@media screen and (min-width: 768px) {
.add-book-notification {
        width: 324px;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        line-height: calc(14 / 12);
      
    }
}


.hidden {
display: none;
}


.buy-label{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
}

.buy-img{
filter: grayscale(100%);
transition: transform 200ms;

}

.buy-img:hover,
.buy-img:focus{
    filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
    transform: scale(1.2);
}

.modal-fav-image{
    width: 287px;
    height: 408px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 14px;
    margin-right: 24px;
}


@media screen and (min-width: 768px) {
    .modal-fav-image {
            width: 192px;
            margin-bottom: 0;
            height: 281px;

        }
}



.modal-fav-title{
    font-family: var(--main-font);
    font-size: 16px;
    line-height: calc( 18 / 16 );
    letter-spacing: -0.04em;
    color: var(--primary-text-color-ligth);
    margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
    .modal-fav-title {
        font-size: 24px;
        line-height: calc(28 / 24);
        margin-bottom: 8px;
    }
}


.modal-fav-author{
    font-family: var(--main-font);
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: -0.04em;
    color: #B4AFAF;
    margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
    .modal-fav-author {
            font-size: 14px;
            line-height: calc(18 / 14);
    
        }
    }

.modal-fav-descr{
    max-height: 72px;
    overflow-y: auto;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.04em;
    color: var(--primary-text-color-ligth);
    margin-bottom: 14px;
}	

@media screen and (min-width: 768px) {
    .modal-fav-descr {
    margin-bottom: 20px;  
    max-height: 130px;
    }
}