
.container-shop-list{
    display: flex;
    gap: 40px;

    padding-top: 40px;
    padding-bottom: 40px;
}

.shop-list-aside{
    display: none;
}
@media screen and (min-width: 1440px) {
    .shopping-list-aside{
        display: flex;
       }
}
/* .container-shopping-list {
    margin-top: 40px; 
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
} */

.shoping-list-header {
    font-family: 'DM Sans';
    font-size: 32px;
    font-weight: 700;
    line-height: calc(38/32);
    
    color: #111111;

    /* transition: all 0.3s ease-in-out; */
    }
    @media screen and (min-width: 768px) {
        /* .container-shopping-list{
            margin-left: 32px;
            margin-right: 32px;
        } */
        .shoping-list-header{
            /* width: 292px;   */
            font-size: 48px;
            font-weight: 700;
            line-height:calc(52/48);  
    
        }
    }
    /* @media screen and (min-width: 1440px) {
       .container-shopping-list{
        margin: 0px;
       } 
    } */

.shoping-list-part{
    color: #4F2EE8;
}

.shopping-list{
    margin-top: 40px;
}
.shopping-list-thumb{
    border: 2px solid rgba(79, 46, 232, 0.4);
    border-radius: 16px;
    padding: 14px;
    margin-bottom: 14px;

    width: 335px;
    height: 170px;

    display: flex;
    gap: 14px;

    animation: boom 1500ms 700ms alternate both;  
}
@media screen and (min-width: 768px) {
    .shopping-list-thumb{
        width: 704px;
        height: 213px;

        padding: 24px;
        margin-bottom: 20px;

        gap: 24px;
    }
}
@media screen and (min-width: 1440px) {
    .shopping-list-thumb{
        width: 996px;
    }
}
.cover-shopping-list{
    width: 100px;
    height: 142px;
}
@media screen and (min-width: 768px) {
    .cover-shopping-list{
        width: 116px;
        height: 165px;
    }
}

.book-interface{
    display: flex;
    flex-direction: column;
}
/* .book-interface{
} */
.book-title-btn{
    display: flex;
}
.shopping-list-book-title{
    height: 18px;
    width: 166px;

    font-family:' DM Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: calc(18/16);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-bottom: 4px;

}
.shopping-list-book-category{
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: calc(14/12);
    
    margin-bottom: 8px;
    
    color: #B4AFAF;
}
@media screen and (min-width: 768px) {
    .shopping-list-book-category{
        margin-bottom: 14px;
    }
}
.delete-shopping-list-btn{
    width: 28px;
    height: 28px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-radius: 50%;
    border: none;
    background-color: #4F2EE8;

   margin-left: auto;
}
@media screen and (min-width: 768px) {
    .delete-shopping-list-btn{
        width: 34px;
        height: 34px;
    }
}
/* .delete-shopping-list-btn:hover, .delete-shopping-list-btn:focus{

} */
.delete-shopping-list-icon{
    display: flex;

    fill: white !important;

    width: 16px;
    height: 16px;
}
@media screen and (min-width: 768px) {
    .delete-shopping-list-icon{
        width: 18px;
        height: 18px;
    }
}
.shopping-list-book-about{
    font-family:' DM Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: calc(18/14);

    height: 68px;
    width: 193px;
    
    margin-bottom: 14px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    
}
@media screen and (min-width: 768px) {
    .shopping-list-book-about{
        width: 508px;
        height: 53px;

        margin-bottom: 32px;
    }
}
@media screen and (min-width: 1440px) {
    .shopping-list-book-about{
        width: 808px;

    }
}
.shopping-list-book{
    display: flex;
}
@media screen and (min-width: 768px) {
    .shopping-list-book{
        align-items: flex-end;
    }
} 
.shopping-list-book-author{
    font-family: 'DM Sans';
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: calc(14/12);

    color: #B4AFAF;
}
.shopping-list-trading{
    margin-left: auto;

    display: flex;
    gap: 8px;
    align-items: flex-end;
}
@media screen and (min-width: 768px) {
    .shopping-list-trading{
        gap: 16px;
        align-items: center;
    }
}
.shopping-list-trading-item :hover, .shopping-list-trading-item :focus {
    box-shadow: rgba(0, 0, 0, 0.15);
    box-sizing: 3px;
}
/* .shopping-list-trading-item{
} */
.shopping-list-trading-link {
    filter: grayscale(100%);
    transition: transform 300ms;
}
.shopping-list-trading-item :hover, .shopping-list-trading-item :focus{
filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
transform: scale(1.15);
}
/* .brightness{
} */
.shopping-list-trading-icon-amazon{
    width: 32px;
    height: 11px;
}
.shopping-list-trading-icon-apple-books{
    width: 16px ;
    height: 16px ;
}
.shopping-list-trading-icon-book-shop{
    width: 16px ;
    height: 16px ;
}
@media screen and (min-width: 768px) {
    .shopping-list-trading-icon-amazon{
        width: 48px;
        height: 15px;
    }
    .shopping-list-trading-icon-apple-books{
        width: 28px;
        height: 27px;
    }
    .shopping-list-trading-icon-book-shop{
        width: 32px;
        height: 30px;
    }
}

/* emty shopping list */
.empty-shopping-list {
    margin-top: 120px;
    margin-left: 55px;

    /* height: 248px;
    width: 265px; */
    animation: boom 1500ms 700ms alternate both;  
}
    
    
.shopping-list-text {
    margin-bottom: 14px;

    width: 244px;
    min-height: 36px;

    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: calc(18/14);
    text-align: center;
    
    color:#00000099;
}
    
.shopping-list-book-img {
    height: 198px;
    width: 265px;
}
    
@media screen and (min-width: 768px) {
    .empty-shopping-list{
        /* width: 349px;
        height: 309px; */

        margin-top: 140px;
        margin-left: 210px;
    }
    .shopping-list-text{
        font-size: 18px;
        line-height: calc(24/18);

        margin-bottom: 20px;
        width: 349px;
    }
    .shopping-list-book-img{
        padding: 0px 13.5px;

        height: 241px;
        width: 322px;
    }
}

@media screen and (min-width: 1440px) {
    .empty-shopping-list{
        margin-top: 140px;
        margin-left: 355px;
    }
    .shopping-list-text{
        margin-bottom: 20px;
    }
    
} 
    
.visuallyhidden{
    visibility: hidden;
}