/* variables */
:root {
    --main-font: 'DM Sans', sans-serif;
    --primary-text-color-ligth: #111111;
    --secondary-text-color-ligth: #B4AFAF;
    --accent-text-color-ligth: #4F2EE8;
    --accent--text-color-dark: #EAC645;
    --primary-text-color-dark: rgba(255, 255, 255, 0.6);
    --secondary-text-color-dark:  #FFFFFF;  
    --accent-color-dark: #EAC645;
    --accent-color-ligth: #4F2EE8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
    --header-color-ligth:  #FFFFFF;
    --header-color-dark: #111111;
    --bgc-ligth-theme: #D0D0D0;
    --bgc-dark-theme: #202024;
    --support-section-color: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
    --scroll-color: #E0E0E0;
  }
    
.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}